* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Yantramanav", sans-serif;
}
.container {
    height: 100vh;
    background: teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#clicked {
    width: 500px;
    height: 60px;
    line-height: 60px;
    border: 2px dashed #333;
    margin-bottom: 20px;
}
button {
    padding: 10px 30px;
    font-family: "Yantramanav", sans-serif;
    font-size: 16px;
    font-weight: 500;
}